.wrapper.login {
    margin: {
        top: 0;
        bottom: 0;
    }

    overflow: hidden;
}

.login-wrapper {
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    padding: {
        top: .5rem;
        right: 2rem;
        bottom: 4rem;
        left: 2rem;
    }
    border-radius: 0 0 7px 7px;

    @include boxshadow(0px, 0px, 8px);

    @media (min-width: $screen-sm-min) {
        max-width: 500px;
        width: 100%;
    }

    .logo {
        margin: 2rem;
        
        img {
            width: 200px;
            @media (min-width: $screen-sm-min) {
                width: 350px;
            }
        }
    }
}

.language-selector {
    position: absolute;
    bottom: 40px;
    right: 10px;

    @include boxshadow(0px, 0px, 8px);
}

.login {
    .title {
        color: $brand-primary;
        text-align: center;
    }
}

#contenedor {
   display: -webkit-flex;
   display: flex;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
    display: block;
}